In [1]:
# Imports 
import pandas as pd

Query used to get weekly data from [Stackoverflow Query](https://data.stackexchange.com/stackoverflow/query/edit/1205218)

```SQL
SELECT Id, CreationDate, Title, Body, Tags, ViewCount, AnswerCount, CommentCount
FROM Posts
WHERE (CreationDate BETWEEN '2019-01-14' AND '2019-01-20') AND Tags IS NOT NULL
ORDER BY CreationDate ASC
```

# Notebook Overview: 
- Combine weekly csv's into one csv for the year of 2019 
- The following are links to the zipped versions of the weekly data:
    - [Weeks 1 - 20](https://drive.google.com/open?id=1uttbh17hfhnfMLqnajbw3yX7LC27yQFY)
    - [Weeks 21-40](https://drive.google.com/open?id=1Isrpl4XX-Sv3CDmI2eNI26fX8Hu98mt4)
    - [Weeks 41-52](https://drive.google.com/open?id=15FEnPmx_LaP9_xpxB3zz6BMqFDgTbVc6)
- [Combined 2019 data (zipped):](https://drive.google.com/open?id=1ZQHpysA5m8aL3bbMEiUJLdHmVDhZmaBq)

In [4]:
week1 = pd.read_csv('../data/individual_weekly/week1.csv')
week2 = pd.read_csv('../data/individual_weekly/week2.csv')
week3 = pd.read_csv('../data/individual_weekly/week3.csv')
week4 = pd.read_csv('../data/individual_weekly/week4.csv')
week5 = pd.read_csv('../data/individual_weekly/week5.csv')
week6 = pd.read_csv('../data/individual_weekly/week6.csv')
week7 = pd.read_csv('../data/individual_weekly/week7.csv')
week8 = pd.read_csv('../data/individual_weekly/week8.csv')
week9 = pd.read_csv('../data/individual_weekly/week9.csv')
week10 = pd.read_csv('../data/individual_weekly/week10.csv')

week1_10_list = [week1, week2, week3, week4, week5, week6, week7, week8, week9, week10 ]

week1_10_df = pd.concat(week1_10_list)

In [7]:
week1_10_df.tail()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
40402,55083177,2019-03-09 23:59:03,dplyr/tidyr: Spread and Get Unique Values of A...,<p>Suppose I have the following data frame:</p...,<r><tidyr>,112,2,0
40403,55083178,2019-03-09 23:59:05,PostgreSQL: How do I get data from table `A` f...,<p>I want to fetch all parents that have kids ...,<sql><postgresql>,26,1,0
40404,55083182,2019-03-09 23:59:32,ImportError: cannot import name 'UserModel',"<p>HELP, I have this <code>appp.py</code> file...",<python><flask>,750,2,3
40405,55083183,2019-03-09 23:59:33,How to change pop-up position in PickaDate.js,<p>I want to know how to change to position of...,<javascript><html><bootstrap-4><pickadate>,146,0,0
40406,55083185,2019-03-09 23:59:55,How to serve a django server which running on ...,<p>I am running a Django server which I am usi...,<django><apache>,88,0,1

In [ ]:
# Is there a way to create a function to upload and all dataframes and concat them together?
# def weekly_csv():
#     i = 1 
#     weekly_list = []
#     for i in range(53):
#         week_i = pd.read_csv('week(i)')
        
    
#         weekly_list.append()
#         i += 1 
    
#     final_csv = pd.concat(weekly_list)
#     return final_csv

In [41]:
week11 = pd.read_csv('../data/individual_weekly/week11.csv')
week12 = pd.read_csv('../data/individual_weekly/week12.csv')
week13 = pd.read_csv('../data/individual_weekly/week13.csv')
week14 = pd.read_csv('../data/individual_weekly/week14.csv')
week15 = pd.read_csv('../data/individual_weekly/week15.csv')
week16 = pd.read_csv('../data/individual_weekly/week16.csv')
week17 = pd.read_csv('../data/individual_weekly/week17.csv')
week18 = pd.read_csv('../data/individual_weekly/week18.csv')
week19 = pd.read_csv('../data/individual_weekly/week19.csv')
week20 = pd.read_csv('../data/individual_weekly/week20.csv')

week11_20_list = [week11, week12, week13, week14, week15, week16, week17, week18, week19, week20 ]

week11_20_df = pd.concat(week11_20_list)

week11_20_df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
0,55093643,2019-03-11 00:00:01,How to check if a command line argument is a d...,<p>Hi guys I am a beginner in Java and I have ...,<java><command-line-arguments>,49,0,1
1,55093646,2019-03-11 00:00:46,python - Cloud Firestore - append data to subc...,<p>Is it possible to append data to a subcolle...,<python-3.x><google-cloud-firestore>,557,1,3
2,55093649,2019-03-11 00:01:09,Changing the contents of an array in a recursi...,<p>I am having trouble understanding something...,<c><arrays><recursion><backtracking>,39,1,0
3,55093651,2019-03-11 00:01:29,Loop only takes last value,<p>I have a dataFrame with country-specific po...,<python><pandas><loops>,104,2,0
4,55093654,2019-03-11 00:02:17,PyQt Access to LineEdit Function in Widget Fun...,<p>I made a Widget Object and created a LineEd...,<python-3.x><widget><pyqt5>,22,0,2

In [44]:
week21 = pd.read_csv('../data/individual_weekly/week21.csv')
week22 = pd.read_csv('../data/individual_weekly/week22.csv')
week23 = pd.read_csv('../data/individual_weekly/week23.csv')
week24 = pd.read_csv('../data/individual_weekly/week24.csv')
week25 = pd.read_csv('../data/individual_weekly/week25.csv')
week26 = pd.read_csv('../data/individual_weekly/week26.csv')
week27 = pd.read_csv('../data/individual_weekly/week27.csv')
week28 = pd.read_csv('../data/individual_weekly/week28.csv')
week29 = pd.read_csv('../data/individual_weekly/week29.csv')
week30 = pd.read_csv('../data/individual_weekly/week30.csv')

week21_30_list = [week21, week22, week23, week24, week25, week26, week27, week28, week29, week30 ]

week21_30_df = pd.concat(week21_30_list)

In [48]:
week21_30_df.tail()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
37930,57236928,2019-07-27 23:58:18,Call a function with a part of a larger array,<p>I'm refactoring some code and have decided ...,<c++><c++17>,109,1,2
37931,57236931,2019-07-27 23:59:14,How to get the values from a multiselect field...,<p>I have a field in a content type which is a...,<drupal-8>,72,1,0
37932,57236932,2019-07-27 23:59:24,Cross origin requests are only supported for p...,"<p>I can't send info to php, it gets blocked.<...",<php><html><json><jss>,825,1,2
37933,57236934,2019-07-27 23:59:32,"Parse integer from a ""td"" tag with beautifulsoup",<p>I read many articles about beautifulsoup bu...,<python><beautifulsoup>,72,1,0
37934,57236936,2019-07-27 23:59:52,How do I hook up the code to change Drupal mod...,<p>Drupal does not allow me to delete extensio...,<drupal><drupal-8>,65,0,0

In [47]:
week31 = pd.read_csv('../data/individual_weekly/week31.csv')
week32 = pd.read_csv('../data/individual_weekly/week32.csv')
week33 = pd.read_csv('../data/individual_weekly/week33.csv')
week34 = pd.read_csv('../data/individual_weekly/week34.csv')
week35 = pd.read_csv('../data/individual_weekly/week35.csv')
week36 = pd.read_csv('../data/individual_weekly/week36.csv')
week37 = pd.read_csv('../data/individual_weekly/week37.csv')
week38 = pd.read_csv('../data/individual_weekly/week38.csv')
week39 = pd.read_csv('../data/individual_weekly/week39.csv')
week40 = pd.read_csv('../data/individual_weekly/week40.csv')

week31_40_list = [week31, week32, week33, week34, week35, week36, week37, week38, week39, week40 ]

week31_40_df = pd.concat(week31_40_list)
week31_40_df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
0,57245838,2019-07-29 00:00:07,How do I create a user input loop that sums th...,<p>Basically I'm trying to create a for loop i...,<assembly><arm>,23,0,1
1,57245840,2019-07-29 00:00:34,AJAX won't load new page content without page ...,<p>I executed an AJAX request to load content ...,<javascript><jquery><ajax>,79,2,11
2,57245841,2019-07-29 00:00:54,"TypeError: Cannot call method ""getSheetByName""...",<p>I have this script I hacked together to run...,<google-apps-script><google-sheets>,49,1,1
3,57245847,2019-07-29 00:02:33,TypeError in graphics.py,<p>I'm trying to make a rudimentary cookie cli...,<python><mouseevent><zelle-graphics>,25,1,4
4,57245848,2019-07-29 00:03:20,iPython Notebook/Jupyter not actually saving,<p>Saving my work does actually nothing.</p>\n...,<python-3.x><jupyter-notebook><save><ipython><...,40,0,0

In [50]:
week41 = pd.read_csv('../data/individual_weekly/week41.csv')
week42 = pd.read_csv('../data/individual_weekly/week42.csv')
week43 = pd.read_csv('../data/individual_weekly/week43.csv')
week44 = pd.read_csv('../data/individual_weekly/week44.csv')
week45 = pd.read_csv('../data/individual_weekly/week45.csv')
week46 = pd.read_csv('../data/individual_weekly/week46.csv')
week47 = pd.read_csv('../data/individual_weekly/week47.csv')
week48 = pd.read_csv('../data/individual_weekly/week48.csv')
week49 = pd.read_csv('../data/individual_weekly/week49.csv')
week50 = pd.read_csv('../data/individual_weekly/week50.csv')
week51 = pd.read_csv('../data/individual_weekly/week51.csv')
week52 = pd.read_csv('../data/individual_weekly/week52.csv')

week41_52_list = [week41, week42, week43, week44, week45, week46, week47, week48, week49, week50, week51, week52]

week41_52_df = pd.concat(week41_52_list)
week41_52_df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
0,58262165,2019-10-07 00:01:04,Downloaded PDF file but cannot locate it,<p>I used swift code to download a PDF file. I...,<ios><swift>,35,0,4
1,58262166,2019-10-07 00:01:05,Does google colab permanently change file,<p>I am doing some data pre-processing on Goog...,<google-colaboratory>,77,1,2
2,58262167,2019-10-07 00:01:23,Analyzing multiple sequences,<p>after working on some basic classification ...,<python><classification><lstm><recurrent-neura...,18,0,0
3,58262171,2019-10-07 00:03:01,How to convert dates from different centuries ...,<p>I am trying to use the function <code>parse...,<r><date><lubridate><date-parsing>,11,0,3
4,58262172,2019-10-07 00:03:03,Pan events in ios 13 aren't behaving as expected,<p>I'm trying to fix a bug that appears only o...,<swipe><ios13><hammer.js><pan><hammer>,283,0,3

In [53]:
combined_list = [week1_10_df, week11_20_df, week21_30_df, week31_40_df,week41_52_df]

In [55]:
combined_df = pd.concat(combined_list)

In [58]:
combined_df.to_csv('weekly_combined2019.csv', index=False)