# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from datetime import datetime

import regex as re
from bs4 import BeautifulSoup

# Data Cleaning: 
1. Language tags 
    - Target Tags: 
        - SQL (Target Class: 0)
        - Scala (Target Class: 1)
        - R (Target Class: 2)
        - Julia (Target Class: 3)
        - C++ (Target Class: 4)
        - Python (Target Class: 5)
    - Remove tags that won't be used for modeling (the 6 above) 
2. Body & Title (will I use Title in modeling?) 
    - Clean up body and titles:
        - remove HTML tags & numbers 
3. MISC Cleaning
    - Reset Index
    - CreationDate column --> Datetimeformat

In [3]:
df = pd.read_csv('../data/weekly_combined2019.csv')

In [4]:
df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
0,53992215,2019-01-01 00:00:04,Using a ScheduledExecutorService to run a task...,<p>I am working on a program that will read da...,<java><executorservice><java-threads>,73,1,3
1,53992219,2019-01-01 00:01:55,How to programmatically change style sheet of ...,<p>I have so many buttons on a dialog and I wa...,<c++><qt><qt5><qtstylesheets><qpushbutton>,775,2,2
2,53992220,2019-01-01 00:02:08,Trying to put website into Maintenance Mode (3...,<p>I'm trying to put my webpage into Maintenan...,<.htaccess>,364,2,13
3,53992221,2019-01-01 00:02:27,Node.js Lambda Async return Undefined,<p>Simple call to ec2 Describing Security grou...,<node.js><lambda>,423,3,3
4,53992223,2019-01-01 00:02:37,Unable to print a class list attribute using i...,<p>I am designing a deck class that has <stron...,<python><python-3.x><list><class><printing>,40,2,0

## Language Tags

### Clean up tags

In [5]:
def tag_replace_split(tag):
    '''
    function to get rid of characters ('><, <, >') from tag column and replace with either space, or nothing 
    then put that new tag into list to be able to parse more easily for modeling  

    '''
    tag = tag.replace('><', ' ')
    tag = tag.replace('<', '')
    tag = tag.replace('>', '')
    tag = tag.split()
    
    return tag

In [6]:
# Use "tag_replace_split" function to clean up original tags column  
df['Tags'] = df['Tags'].map(lambda x: tag_replace_split(x))

In [7]:
df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount
0,53992215,2019-01-01 00:00:04,Using a ScheduledExecutorService to run a task...,<p>I am working on a program that will read da...,"[java, executorservice, java-threads]",73,1,3
1,53992219,2019-01-01 00:01:55,How to programmatically change style sheet of ...,<p>I have so many buttons on a dialog and I wa...,"[c++, qt, qt5, qtstylesheets, qpushbutton]",775,2,2
2,53992220,2019-01-01 00:02:08,Trying to put website into Maintenance Mode (3...,<p>I'm trying to put my webpage into Maintenan...,[.htaccess],364,2,13
3,53992221,2019-01-01 00:02:27,Node.js Lambda Async return Undefined,<p>Simple call to ec2 Describing Security grou...,"[node.js, lambda]",423,3,3
4,53992223,2019-01-01 00:02:37,Unable to print a class list attribute using i...,<p>I am designing a deck class that has <stron...,"[python, python-3.x, list, class, printing]",40,2,0

### Categorize Langauge Tags
- categorizing and drop unnecesary rows with non-target tags

#### Language Tag Sets

In [8]:
# Individual tag sets for each language I'm targeting 
# created target sets

# SQL (target class: 0)
sql_set = {'sql','bigquery-standard-sql','sqlparameters', 'sqlparameter', 'web-sql', 'sqlite3','sqlite', 
          'sql2016', 'sql-server-2016', 'sql-execution-plan','spark-sql','sql-order-by','sql-join',  
          'sql-syntax','sql-statement','sql-query','mysql-query','orderby','sql-server','mysql'} 

# Scala (taget class: 1)
scala_set = {'scala', 'scala-implicits', 'scala-generics'} 

# R (target class: 2)
r_set = {'rstats', 'r', 'r-language', 'r-faq'}

# Julia (target: 3)
julia_set = {'julia-lang', 'julia', 'julialang'}

# C++ (target: 4)
cplus_set = {'c++', 'c++17', 'visual-c++'}

# Python (target: 5)
py_set = {'python', 'python3', 'python-3.7', 'python-3.x', 'pytorch', 'python-list', 'py3', 'ipython-notebook', 
          'python3', 'python-3.5.2' , 'python-2.7', 'python-3', 'python-bigquery', 'pythonic', 'py'}

# includes all language tags 
# union of all sets 
master_set = (sql_set|scala_set|r_set|julia_set|cplus_set|py_set)

# else : -1 

all_sets = [sql_set, scala_set, r_set, julia_set, cplus_set, py_set]

In [9]:
# look through each row of tags and see if there's an intersection with tags and master set of languages 
# has to be a set to use .intersection 
df['target_tags'] = df['Tags'].apply(lambda tags: set(tags).intersection(master_set))

In [12]:
df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount,target_tags
0,53992215,2019-01-01 00:00:04,Using a ScheduledExecutorService to run a task...,<p>I am working on a program that will read da...,"[java, executorservice, java-threads]",73,1,3,{}
1,53992219,2019-01-01 00:01:55,How to programmatically change style sheet of ...,<p>I have so many buttons on a dialog and I wa...,"[c++, qt, qt5, qtstylesheets, qpushbutton]",775,2,2,{c++}
2,53992220,2019-01-01 00:02:08,Trying to put website into Maintenance Mode (3...,<p>I'm trying to put my webpage into Maintenan...,[.htaccess],364,2,13,{}
3,53992221,2019-01-01 00:02:27,Node.js Lambda Async return Undefined,<p>Simple call to ec2 Describing Security grou...,"[node.js, lambda]",423,3,3,{}
4,53992223,2019-01-01 00:02:37,Unable to print a class list attribute using i...,<p>I am designing a deck class that has <stron...,"[python, python-3.x, list, class, printing]",40,2,0,"{python-3.x, python}"

In [13]:
# Original 
df.shape

(1878570, 9)

In [14]:
# drop rows that have empty sets for target_tags 
df.drop(df[df['target_tags'] == set({})].index, inplace = True)

In [15]:
# New df with only target languages from sets created 
# loss about 25% of original 
df.shape

(465055, 9)

In [22]:
(465055/1878570)*100

24.755798293382732

#### Overlapping Target Classes

In [26]:
# use this column to check and see which languages are overlapping b/c can't use .unique on list 
df['overlap_tags'] = df['target_tags'].map(lambda tag: ' '.join(tag))

In [27]:
# overlapping languagues: 
# Fair amount, will need to address this. 
# r & python 
# sql & python 
# r & sql
# c ++ & sql 
# 'python-3.x scala sql-server'
# 'python-3.x python-2.7 c++'
# 'python-3.x python r sql'

df['overlap_tags'].unique()

array(['c++', 'python-3.x python', 'python', 'sql', 'r', 'sqlite',
       'sql-server', 'mysql', 'python-3.x', 'scala', 'sql mysql',
       'python-3.x python mysql', 'sql-server sql', 'python-2.7 python',
       'pytorch', 'python sql mysql', 'sqlite python', 'pytorch python',
       'python-2.7', 'visual-c++ c++', 'python mysql', 'python sql',
       'c++ c++17', 'c++ mysql', 'python c++',
       'python-3.x python-2.7 python', 'sqlite sql', 'visual-c++',
       'sqlite sql c++', 'sql-server sql mysql', 'sql-order-by mysql',
       'sql-server-2016 sql', 'julia', 'sql-order-by sql mysql',
       'sql-server sql-server-2016', 'python-3.x sqlite',
       'python-2.7 python mysql', 'sql-server sql-server-2016 sql',
       'sqlite sql-server', 'sql-server sql-execution-plan sql',
       'python-3.x sqlite python', 'python sql-server',
       'sql-order-by sql', 'python-3.x sql-server', 'pytorch python-2.7',
       'sql c++', 'sql-server-2016', 'r sql', 'python-3.x pytorch python',
       'sql-order-by', 'sqlite c++', 'python-3.x python-2.7',
       'visual-c++ c++ c++17', 'sql-server r sql', 'sql-order-by r',
       'python-3.x sql', 'python r', 'python-3.x pytorch',
       'python-3.7 python', 'python-2.7 c++', 'python-3.x mysql',
       'sql-server r', 'python sql-server mysql', 'sql-server mysql',
       'sql-server sql-order-by', 'bigquery-standard-sql sql',
       'sql-server sql-order-by sql', 'python sql-server sql', 'r mysql',
       'sql-server sql c++', 'sqlite python sql', 'python-3.x c++',
       'c++17', 'r c++', 'python-3.x python sql-server sql',
       'python-2.7 mysql', 'sql-execution-plan', 'c++17 c++',
       'sqlite sql-order-by sql', 'sqlite mysql', 'python-3.x scala',
       'scala sql', 'python-3.x python c++', 'python-2.7 python sqlite',
       'python-3.x python-3.7 python', 'python-2.7 python-3.7 python',
       'sqlite python r', 'python scala', 'python python-3.7',
       'python-3.x python python-3.7', 'pytorch python-3.x', 'python-3.7',
       'scala mysql', 'python-2.7 python c++', 'pytorch python-3.7',
       'pytorch c++', 'sqlite r', 'python-3.x python r sql',
       'python-3.x python sql', 'sql-server sql-server-2016 mysql',
       'pytorch python-3.7 python', 'sql-server c++',
       'python-2.7 python python-3.7', 'julia c++', 'visual-c++ sql',
       'bigquery-standard-sql', 'python-3.x python sql-server',
       'visual-c++ python c++', 'python-3.x julia',
       'python-3.x python sql mysql', 'python-2.7 sqlite', 'python julia',
       'sql-server sql-execution-plan', 'python-3.x python-3.7',
       'python-3.x r', 'python-2.7 python sql', 'sqlite sql mysql',
       'python r sql', 'visual-c++ python', 'sqlite sql-server sql',
       'python-3.x sqlite python sql', 'pytorch python c++',
       'sqlite sql-order-by', 'python-3.x python-2.7 python mysql',
       'visual-c++ sql-server', 'python-3.x python r', 'r sql mysql',
       'python scala mysql', 'sql-server-2016 r', 'visual-c++ c++17 c++',
       'r julia', 'python-3.x sqlite sql', 'sqlite python mysql',
       'python-2.7 python-3.7', 'sqlite web-sql',
       'python-3.x python visual-c++', 'sqlite julia',
       'sqlparameter mysql', 'python sql-server-2016',
       'python python-3.7 c++', 'sqlite r sql',
       'python-2.7 python sql mysql', 'pytorch python julia',
       'sql-execution-plan mysql', 'python-3.x c++ python c++17',
       'sqlite sql-server mysql',
       'python-2.7 python-3.x python sql mysql',
       'sqlite python sql mysql', 'python-3.x python-2.7 c++',
       'python-3.7 sql', 'scala c++', 'scala sql-server sql',
       'python-3.x python-2.7 python sqlite', 'web-sql',
       'scala sql-server', 'python sql-server r',
       'python-3.x sql-server sql', 'pytorch python-3.x python',
       'python-3.x sql mysql', 'c++ sql-server sql mysql',
       'sql-execution-plan sql', 'python-3.x python-2.7 sql-server',
       'python-2.7 sql', 'visual-c++ mysql',
       'python-3.x python-2.7 python pytorch', 'sqlite scala',
       'sqlite python-3.7', 'pytorch python python-3.7',
       'scala sql mysql', 'python-3.7 mysql', 'sqlparameter sql',
       'visual-c++ c++17', 'python-3.x visual-c++',
       'visual-c++ sqlite c++', 'c++ sql mysql', 'c++ python-3.7 python',
       'bigquery-standard-sql sql-server sql', 'python-2.7 r',
       'sql-server sqlparameter', 'scala r', 'python python-3.7 mysql',
       'python-3.x python-2.7 python-3.7 python',
       'python-2.7 python sqlite sql', 'pytorch python-2.7 python',
       'visual-c++ sqlite sql-server c++', 'python-3.x visual-c++ c++',
       'sql web-sql', 'python-3.x python scala',
       'sql-server-2016 sql-execution-plan', 'python scala sql',
       'bigquery-standard-sql sql-order-by',
       'python-3.x sqlite python mysql', 'python-3.x python-2.7 python r',
       'python-bigquery python', 'python-bigquery', 'sql-server r mysql',
       'sql-server sql-server-2016 sql-execution-plan',
       'python-3.x sql-server-2016', 'visual-c++ sql-server c++',
       'sqlite python sql-server', 'r-faq r',
       'python-3.x python-bigquery', 'python-bigquery sql mysql',
       'bigquery-standard-sql sql-server mysql', 'c++ python c++17',
       'python-bigquery python-2.7', 'sql-server sql-order-by mysql',
       'sql-server sqlparameter sql', 'python-2.7 python sql-server',
       'sqlite python c++', 'python-3.x python julia',
       'python sql-server sql mysql', 'python-2.7 sql-server',
       'bigquery-standard-sql mysql', 'sqlparameter',
       'python-3.x python-2.7 python python-3.7', 'python-3.7 c++',
       'python-3.x scala sql', 'visual-c++ r c++',
       'python-bigquery python sql', 'bigquery-standard-sql sql mysql',
       'python-3.x pytorch python python-3.7',
       'python-3.x python-2.7 sqlite',
       'python-3.x bigquery-standard-sql python-bigquery',
       'visual-c++ sqlite', 'python-bigquery bigquery-standard-sql',
       'python-2.7 sql-server sql', 'visual-c++ python-3.7',
       'python-3.x scala mysql', 'visual-c++ sql-server sql',
       'python-3.x sql-order-by mysql', 'scala sql-order-by',
       'sqlite python sql-server sql', 'sqlite sql-server r sql',
       'python sql-order-by', 'sqlite julia sql',
       'sql-execution-plan sql mysql', 'python-3.x python-2.7 python sql',
       'python-3.x scala sql-server', 'python-3.x python-2.7 mysql',
       'c++ python sql mysql'], dtype=object)

In [29]:
# If have time will come back and create functions to check for overlapping classes 
def check_2class(tags, class1, class2):
    '''
    make a function that would take a post's tags, and check 
    if the tags are in class1 and class2.
    
    If so, return the rows that satisfy that condition.
    
    (Then you can drop those rows --> do this outside the function)
    '''
    pass

def check_3class(tags, class1, class2, class3):
    pass

def check_4class(tags, class1, class2, class3, class4):
    pass

def check_5class(tags, class1, class2, class3, class4, class5):
    pass

def check_6class(tags, class1, class2, class3, class4, class5, class6):
    pass

In [30]:
df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount,target_tags,overlap_tags
1,53992219,2019-01-01 00:01:55,How to programmatically change style sheet of ...,<p>I have so many buttons on a dialog and I wa...,"[c++, qt, qt5, qtstylesheets, qpushbutton]",775,2,2,{c++},c++
4,53992223,2019-01-01 00:02:37,Unable to print a class list attribute using i...,<p>I am designing a deck class that has <stron...,"[python, python-3.x, list, class, printing]",40,2,0,"{python-3.x, python}",python-3.x python
8,53992234,2019-01-01 00:05:48,How to rearrange subplots so that one is under...,<p>I am trying to code two plots such that one...,"[python, matplotlib, subplot]",519,1,1,{python},python
10,53992248,2019-01-01 00:09:24,Function always returns 1,<p>I´m trying to write a simple branch predict...,"[c++, function]",150,1,21,{c++},c++
11,53992252,2019-01-01 00:11:20,possible to speed up this query?,<p>I have the following query which takes a li...,"[sql, postgresql]",40,1,0,{sql},sql

#### Create Target Classes

- 0 = SQL  
- 1 = Scala  
- 2 = R 
- 3 = Julia  
- 4 = C++  
- 5 = Python

In [35]:
def assign_target(tags):
    """
    Function to create target classes for my tags 
    
    *Limitation*: uses first tag to assign the target. 
    If there are multiple langauges in the tags like SQL and Python, 
    will pick SQL since appears first. 
    
    """
    for target_class, target_set in enumerate(all_sets):
        for tag in tags.split():
            if tag in target_set:
                return target_class
            else:
                continue
    return -1

In [37]:
df['target_class'] =  df['overlap_tags'].map(assign_target)
df.head()

,Id,CreationDate,Title,Body,Tags,ViewCount,AnswerCount,CommentCount,target_tags,overlap_tags,target_class
1,53992219,2019-01-01 00:01:55,How to programmatically change style sheet of ...,<p>I have so many buttons on a dialog and I wa...,"[c++, qt, qt5, qtstylesheets, qpushbutton]",775,2,2,{c++},c++,4
4,53992223,2019-01-01 00:02:37,Unable to print a class list attribute using i...,<p>I am designing a deck class that has <stron...,"[python, python-3.x, list, class, printing]",40,2,0,"{python-3.x, python}",python-3.x python,5
8,53992234,2019-01-01 00:05:48,How to rearrange subplots so that one is under...,<p>I am trying to code two plots such that one...,"[python, matplotlib, subplot]",519,1,1,{python},python,5
10,53992248,2019-01-01 00:09:24,Function always returns 1,<p>I´m trying to write a simple branch predict...,"[c++, function]",150,1,21,{c++},c++,4
11,53992252,2019-01-01 00:11:20,possible to speed up this query?,<p>I have the following query which takes a li...,"[sql, postgresql]",40,1,0,{sql},sql,0

In [38]:
# no -1, so there aren't any extra classes 
df['target_class'].unique()

array([4, 5, 0, 2, 1, 3])

#### Target Class Baseline

In [43]:
df['target_class'].value_counts(normalize = True)

5    0.552298
0    0.211044
2    0.110993
4    0.103900
1    0.019045
3    0.002720
Name: target_class, dtype: float64

## Body (and Title --TBD) Cleanup

In [45]:
def body_cleanup(raw_body):
    '''
    Function to convert original body to a string of words: 
    - remove HTML artifacts & numbers
    - convert to lowercase then join as one string
    '''
    
    # Remove HTML artifacts using BeautifulSoup 
    body_text = BeautifulSoup(raw_body).get_text()
    
    # Remove non-letters (returns only letters) -- Regex 
    letters_only = re.sub("[^a-zA-Z]", " ", body_text)
    
    # Convert to lower case, split into individual words (tokenize)
    words = letters_only.lower().split()
    
    # Join the words back into one string separated by space, and return the result.
    return(" ".join(words))

In [46]:
# Execution time: 5m 56s 
df['body_clean'] = df['Body'].map(lambda x: body_cleanup(x))

## MISC Cleaning

### Reset Index

In [52]:
df.reset_index(inplace = True)

### Check for nulls

In [63]:
df.isnull().sum()

index           0
Id              0
CreationDate    0
Title           0
Body            0
Tags            0
ViewCount       0
AnswerCount     0
CommentCount    0
target_tags     0
overlap_tags    0
target_class    0
body_clean      0
dtype: int64

### Check Dtypes

In [64]:
df.dtypes

index            int64
Id               int64
CreationDate    object
Title           object
Body            object
Tags            object
ViewCount        int64
AnswerCount      int64
CommentCount     int64
target_tags     object
overlap_tags    object
target_class     int64
body_clean      object
dtype: object

#### Datetime formatt

In [65]:
df['CreationDate']= pd.to_datetime(df['CreationDate'])

# Save as clean_final.csv

In [67]:
df.to_csv('../data/clean_final.csv', index=False)

In [2]:
df = pd.read_csv('../data/clean_final.csv')

FileNotFoundError: [Errno 2] File b'../data/clean_final.csv' does not exist: b'../data/clean_final.csv'

In [3]:
pwd

'/Users/squirrelkisses/Desktop/general-assembly/projects/Stackoverflow-NLP/code'